<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329938044340-qciaf87t8ekl9cc6fslk1gt6plnn78l6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329938044340-qciaf87t8ekl9cc6fslk1gt6plnn78l6</string>
	<key>API_KEY</key>
	<string>AIzaSyAfgmbVVuNMq7oMuelreJGT9Fa276p0oPU</string>
	<key>GCM_SENDER_ID</key>
	<string>329938044340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.feetFinderWorkout</string>
	<key>PROJECT_ID</key>
	<string>feetfinderworkout</string>
	<key>STORAGE_BUCKET</key>
	<string>feetfinderworkout.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329938044340:ios:7fbbc71ac65f9c0f395ee1</string>
	<key>DATABASE_URL</key>
	<string>https://feetfinderworkout-default-rtdb.firebaseio.com</string>
</dict>
</plist>